[2016-10-11 16:06] muukii opened #1 "Carthage support please"
Unable to build with Carthage.
This is Build error log.

[code]

[2016-10-11 16:25] devxoul commented on #1
@muukii #2 will fix the problem. Could you please try with this **`Cartfile`**? I'll merge #2 if it works :)

[code]

By the way, congratulation and thank you for the first issue 🎉

[2016-10-13 06:21] #1 closed

[2016-10-24 21:14] RafaelPlantard opened #4 "Update to RxSwift 3.0.0"
Please can update for latest version of RxSwift?
To avoid this:

[code]

[2016-10-25 08:39] #4 closed

[2017-01-22 05:43] muukii opened #18 "[Carthage] 0.4.0 Build Failed"
[code]

[2017-01-23 03:14] devxoul commented on #18
@muukii, could you please try again with 0.4.1 version?

[2017-01-23 07:04] muukii commented on #18
@devxoul Thx! I'll try it.

[2017-01-23 08:05] devxoul commented on #18
@muukii Please reopen this issue when 0.4.1 doesn't work :)

[2017-01-23 08:05] #18 closed

[2017-03-23 21:03] JordanRoPo opened #19 "I cannot trigger this if the tableView content is less than the keyboard height."
My app has a pull down view that turns off the bounce for my UITableView once the contentOffset.y  reaches 0 in order to create a seamless pull down pan gesture. Now the problem is, this works great when the content of the UITableView is interfered with the keyboard height, meaning the UITableView is still scrollable. However, if the content is not, then what happens is the view still swipes down,

[2017-03-24 07:27] devxoul commented on #19
@JordanRoPo I'm afraid I'm not sure the exact problem 😭 Can you please add some images or something else for me? Thanks!

[2017-03-24 19:32] JordanRoPo commented on #19
@devxoul A great example would be within the iPhone music app. Whenever you go to a songs details while listening to a song, you can scroll down to see what songs are going to be played next or get the lyrics to the current song to show, if you continue pulling down, eventually the UITableView will have a contentOffset of 0. Once you pull down further, the UIView(or w/e it is) will slowly move dow

[2017-03-27 06:40] devxoul commented on #19
@JordanRoPo Is this what you're facing? 🤔

* **What you expected**:

* **The problem**:

    ![rxkeyboard](https://cloud.githubusercontent.com/assets/931655/24343829/72feb598-1303-11e7-8f28-5ad1df3f4613.png)

[2017-05-03 10:31] tomisacat opened #24 "adapt to the updated RxCocoa"
Due to the API change of `RxCocoa`, some method has been deprecated and replaced like this:

The `bindTo` method has been renamed to `bind(to)`, please update to adapt to the latest version of `RxCocoa`. Appreciate : )

[2017-05-04 09:35] devxoul commented on #24
Hi @tomisacat, there's a pull request for this issue. If you'd like to dismiss warnings from CocoaPods, just add `inhibit_all_warnings!` to your Podfile.

[code]

[2017-05-05 03:42] tomisacat commented on #24
Alright, good to hear your response and I'll do it.

Appreciate!

[2017-05-05 03:42] #24 closed

[2017-05-09 14:02] brentleyjones opened #25 "Should not list Carthage in Framework Search Paths"
Currently `FRAMEWORK_SEARCH_PATHS ` is set to `$(PROJECT_DIR)/Carthage/Build/iOS`. This gives a warning when building from source in a consuming workspace:

[code]

The correct setup is to not have this and to include RxSwift in the Workspace and use Xcode's Implicit Dependency Management. That way it knows how to compile both as a part of Carthage and in the workspace for development: https://www

[2017-07-05 15:04] brentleyjones commented on #25
Do we agree that this should/can be fixed? It's our last warning in our codebase currently.

[2017-07-05 15:17] devxoul commented on #25
Oh sorry, I totally forgot about it. :pray: Could you please create a PR for this? I'm not experienced with Carthage.

[2017-07-05 15:18] brentleyjones commented on #25
Sure, I'll try to get to it this week.

[2017-07-05 15:30] freak4pc commented on #25
Uhm to be honest I wanted to fix this real quickly but I cannot reproduce your issue.

<img width="1397" alt="4881e98f-b820-456c-8783-41413f89c883" src="https://user-images.githubusercontent.com/605076/27871975-00a0da34-61b0-11e7-9ec1-a081862cb286.png">

[2017-07-05 15:49] brentleyjones commented on #25
@freak4pc You need to build the project by including it in the workspace, not buy using `carthage` on the command line. We use `carthage` to manage the dependencies, but not to build it.

[2017-07-05 15:50] freak4pc commented on #25
Could you provide a dummy project? I'm not sure which workspace you're referring to in that case :)

[2017-07-05 15:56] brentleyjones commented on #25
In the image you have, you have `CarthageTest` as a project in a (probably implicit) workspace. Next to it you would drag in the `RxKeyboard` project. By including it in the same workspace it will be built with Xcode's Implicit Dependency Management (see link in original comment).

To provide an example project I would probably spend the couple more minutes and fix it, so it would be on the same t

[2017-07-05 16:10] freak4pc commented on #25
Ok, not sure if I'm doing anything special here but - I did reproduce your issue, when dragging the product framework from RxKeyboard to my own project in the same workspace, it showed that message, but then I noticed that "Framework Search Path" was configured on my own project and not on RxKeyboard. When removing that line, I'm not seeing that warning again.

Anyways if you're still experiencing

[2017-07-06 07:02] #25 closed

[2017-07-27 19:23] kmuddapu opened #29 "How to use for texfields in tableview"
I have textfields in 3 sections in tableview . how to show  keyboard  near to textfield ?

Im using below code but when I click on bottom textfield . View going to top almost near to navigation.

[code]

[2017-07-31 05:02] devxoul commented on #29
You should also adjust tableView's `contentOffset`.

[2017-08-01 12:08] kmuddapu commented on #29
@devxoul Can you please provide me any sample code.

I wrote below code but not working . Tableview not scrolling to row selected.

 RxKeyboard.instance.willShowVisibleHeight
      .drive(onNext: { keyboardVisibleHeight in
        self. myTableView.contentOffset.y += keyboardVisibleHeight
      })
      .disposed(by: disposeBag)

[2017-08-07 08:40] devxoul commented on #29
@kmuddapu try using `scrollToRowAtIndexPath` instead.

[2017-09-09 03:53] sidmani opened #33 "[Feature request] Using animation curves to prevent discontinuity"
UIView's default animation curve is different from UIKeyboard's curve, causing flicker/overlapping for views driven by RxKeyboard's visibleHeight when the keyboard is presented and dismissed. Additionally, in interactive dismiss mode, dragging down partially and then cancelling the dismiss causes the view to jump.
Here's the easiest way to fetch the curve from the notification:
`let keyboardCurve

[2017-09-13 09:52] andreymosin opened #34 "Swift 4 support"

[2017-09-14 06:38] devxoul commented on #33
Can you try:

[code]

[2017-09-21 06:14] EvsenevDev commented on #34
I will do that today, but i need brach for merge

[2017-09-21 07:01] EvsenevDev commented on #34
@andreymosin you can use my [fork](https://github.com/EvsenevDev/RxKeyboard/tree/swift_4), but PR created.

[2017-09-22 09:53] devxoul commented on #34
[code]

[2017-09-22 09:53] #34 closed

[2017-09-27 13:59] daidongon opened #38 "Carthage Build Failed"
Log at Building Failed

[code]

[2017-09-28 01:23] imairi commented on #38
+1

[2017-09-28 01:50] imairi commented on #38
It seems not to support  `--no-use-binaries` option for Carthage.

[2017-09-28 03:29] daidongon commented on #38
+1

[2017-09-28 03:38] devxoul commented on #38
When do you need to use `--no-use-binaries`?

[2017-09-28 05:21] daidongon commented on #38
In the Carthage build without the option `--no-use-binaries`, it crashed when launching the application.

- Build Condition
  - Xcode9 (9A235)
  - Carthage v0.25.0
  - `cartfile` is written that `github "RxSwiftCommunity/RxKeyboard"`

[2017-09-28 05:54] devxoul commented on #38
@daidongon can you share the crash log?

[2017-09-28 09:22] daidongon commented on #38
@devxoul
<img width="839" alt="debug_launch_crash_log" src="https://user-images.githubusercontent.com/25152049/30958802-328a0bea-a479-11e7-9aa2-ea906e37dfcb.png">

- `cartfile` is written that `github "RxSwiftCommunity/RxKeyboard"`
- run script `carthage update --platform iOS RxKeyboard`
- After building completed, added to `Linked Frameworks and Libraries` and  `Input Files in Build Phases`
- Run

[2017-09-29 17:26] daidongon commented on #38
@devxoul
Please check it out !

[2017-09-29 18:13] devxoul commented on #38
@daidongon, thanks! I just replaced a prebuilt binary of 0.7.0, could you please try with it again?

[2017-09-30 05:25] daidongon commented on #38
@devxoul
I tried again in the same way and succeeded.
Thank you!!

[2017-09-30 05:25] #38 closed

[2017-10-19 13:48] karthikAdaptavant opened #40 "shared unavailable"
Hi team, Shared is unavailable: use view controller based solutions where appropriate instead. in RxKeyboard line no 101 and 121
can any one help to fix

[2017-10-19 13:54] #40 closed

[2017-10-20 01:44] rynecheow opened #41 "New version not on Pods trunk"
Current version `0.7.0` one Cocoapods trunk is not in sync with the `master` branch where dependency for RxSwift version is different.

https://github.com/CocoaPods/Specs/tree/a0c2b84b032ad09150118e6b7bd4494b16efcf30/Specs/6/d/7/RxKeyboard

[2017-10-20 02:46] noppefoxwolf opened #42 "Carthage update error"
## Swift version
Apple Swift version 4.0 (swiftlang-900.0.65.2 clang-900.0.37)
Target: x86_64-apple-macosx10.9

## Carthage version
0.26.2

## Cartfile

[code]

## console
`$carthage update --platform iOS`

## result
*** Skipped building RxKeyboard due to the error:
Dependency "RxKeyboard" has no shared framework schemes for any of the platforms: iOS

If you believe this to be an error, please fil

[2017-10-20 02:54] noppefoxwolf commented on #42
When use `--no-use-binaries` options, returned same result too.

[2017-10-20 04:54] devxoul commented on #41
I didn't release a new version because `>= 4.0.0-beta.0` contains `4.0.0`. Why do you need a new release?

[2017-10-20 04:55] devxoul commented on #42
Carthage is supported from `0.7.0`. Can you use `~> 0.7` instead?

[2017-10-20 05:31] noppefoxwolf commented on #42
Sorry, I fixed my post.
I have same issue on version 0.7.

[2017-10-20 05:46] noppefoxwolf commented on #42
I made a PR that added a shared scheme.
If you need, please merge this.

https://github.com/RxSwiftCommunity/RxKeyboard/pull/43

[2017-10-20 06:10] rynecheow commented on #41
Yes, and it is up to you.

But it is to keep anything less than the final release version away, as there are already multiple changes and bug fixes after `4.0.0-beta.0`.

[2017-10-20 06:10] #41 closed

[2017-10-20 06:44] devxoul commented on #42
I think the actual error is:

[code]

Let me check of it.

[2017-10-20 08:56] devxoul commented on #42
@noppefoxwolf, I updated a prebuilt binary. could you please try again?

[code]

[2017-10-20 09:23] noppefoxwolf commented on #42
It's worked!
Thank you for your nice work.

[2017-10-20 09:49] #42 closed

[2017-11-01 01:54] daidongon opened #45 "Carthage Build Failed"
- Xcode9.1
- carthage update --platform iOS RxKeyboard
- Run and error on Xcode

[2017-11-01 01:56] imairi commented on #45
+1

[2017-11-01 09:02] freak4pc commented on #45
Does this work on Xcode 9.0.1 GM?

[2017-11-01 09:19] devxoul commented on #45
I pushed new tag([0.7.1](https://github.com/RxSwiftCommunity/RxKeyboard/releases/tag/0.7.1)) which supports Xcode 9.1. Travis CI will upload a new prebuilt binary for 0.7.1 then you'll be able to use RxKeyboard in Xcode 9.1 :)

[2017-11-01 10:42] moogle19 commented on #45
@devxoul
Travis CI is unfortunately still failing.
I think it is because of the missing env-var `$FRAMEWORK`.

[2017-11-01 12:25] devxoul commented on #45
@moogle19, I fixed that and it now succeeded!

[2017-11-01 12:58] moogle19 commented on #45
@devxoul
But this is only working if the target is building with XCode 9.1 and is using the binary framework.
It still needs a `.xcodeproj` and a shared scheme to support Carthage.

[2017-11-01 13:16] devxoul commented on #45
@moogle19 if you're using Xcode 9.0 you can use 0.7.0 instead. I manage RxKeyboard's dependencies with Swift Package Manager which is not compatible with Carthage.

[2017-11-01 13:57] moogle19 commented on #45
Okay. What is the reason that you are using SPM?
I mean SPM currently does not supported iOS projects and I think RxKeyboard is targeted for iOS projects.

[2017-11-01 16:13] devxoul commented on #45
I'd like to keep this repository clean and tidy by getting rid of `.xcodeproj` file. It was not comfortable for me to manage a library for both CocoaPods and Carthage with `.xcodeproj` file when the library has dependencies to other libraries. Swift Package Manager provides a really easy way to manage dependencies in a development stage.

Also, whether SPM supports iOS or not is an unrelated topic

[2017-11-02 00:26] imairi commented on #45
`carthage update --platform iOS RxKeyboard ` , downloaded `0.7.1` binary.
but the below errors occurred.

<img width="1440" alt="2017-11-02 9 05 55" src="https://user-images.githubusercontent.com/1837344/32303884-cce61062-bfae-11e7-9519-b066f4f30e22.png">

[2017-11-02 04:31] bsarrazin commented on #45
@devxoul this is really harming the community and the popularity of this library.
Supporting Carthage is easy and allows to have prebuilt libraries. With the amount of time it takes to compile CocoaPod projects, it's really not an option to not support Carthage. Otherwise, an incredible amount of productivity is lost.

If you still choose to not support Carthage, someone will fork this and support

[2017-11-02 04:39] bsarrazin commented on #45
Additionally, the README on `master` still explicitly says you support Carthage with the instructions. This feels closer to "well me, myself and I don't need it so I'm not going to support it" more than a good decision for the community.

[2017-11-02 05:16] devxoul commented on #45
@imairi, I think the Xcode version in Travis is not compatible with the app store version. I just updated the binary with a new one. Could you please try again?

@bsarrazin, I have no idea why do you think that RxKeyboard doesn't support Carthage. The comment above is about why I don't keep `.xcodeproj` file. We have prebuilt binaries in each releases.

[2017-11-02 06:47] imairi commented on #45
@devxoul thanks, it works on Version 9.1 (9B55).

[2017-11-02 07:08] devxoul commented on #45
@imairi, I also submitted a report to Travis about Xcode version issue. Thanks!

[2017-11-02 08:35] daidongon commented on #45
@devxoul, Thank you!

[2017-11-02 08:35] #45 closed

[2017-11-02 13:26] bsarrazin commented on #45
@devxoul getting rid of the `.xcodeproj` forces the community to jump through hoops to build the binary themselves. Distributing a prebuilt bin can be great, but it assumes/forces which version of Swift people are using. Carthage doesn'T support multiple versions of Swift in a prepackaged bin.

[2017-11-02 13:37] bsarrazin commented on #45
[code]

[2017-11-02 13:51] devxoul commented on #45
@bsarrazin, which Xcode version did you use?

[2017-11-02 13:52] bsarrazin commented on #45
I'm running this with Xcode 9.0.1.

[2017-11-02 13:53] devxoul commented on #45
You may use `0.7.0` instead.

[2017-11-02 13:56] bsarrazin commented on #45
I understand the solution. My point is about what is assumed/forced by this library vs what is good for the community. Forcing folks to fork the repo, creating an Xcode project, changing their Cartfile to point to their forked repo, running the build and maintaining that forked repo with updates... it's _a lot_ more work than keep a simple xcode project in this repo.

[2017-11-02 14:02] devxoul commented on #45
I have never forced them to fork this repository. It's obvious that RxKeyboard supports Carthage. Why do you think like that?

[2017-11-02 14:11] bsarrazin commented on #45
Claiming to support Carthage because you distribute a zip file in the GitHub release is not 100% correct. You're supporting only a sliver of what it means to support Carthage. Supporting Carthage means having an Xcode project with a shared scheme (maybe multiple schemes if the lib can run on more than on operating system, e.g. RxKeyboard-iOS, RxKeyboard-tvOS, etc...). Having this Xcode project all

[2017-11-02 14:44] devxoul commented on #45
Thanks for the detailed reply. Now I see what you're worrying about. I'll keep that in my mind. But it is still more fun to me to use SPM than using a `xcodeproj` file and creating a bunch of targets. I want to maintain this repository in my preferred way. If somebody doesn't agree with this, he/she could fork this repository anytime :)

[2017-11-02 14:49] bsarrazin commented on #45
Those are the points I was worrying about. The decision that was made to remove the `xcodeproj` is for yourself only, not for the community. Suggesting a fork with an Xcode project means there are no longer a single source of truth for this repo.

[2017-11-02 15:22] devxoul commented on #45
Hmm, I thought an open source was for fun. What do you think is 'for community'? And why does the single source of truth matter?

[2017-11-02 15:26] freak4pc commented on #45
@devxoul I understand your POV here, but if this is a community project it's beneficial it would support as many installation methods as possible (SPM isn't really popular, yet)

Could you share your concerns on moving away from the xcodeproj solution ? I'm not a huge Carthage user but would love to understand

[2017-11-02 16:00] devxoul commented on #45
@freak4pc, xcodeproj file has a large dependency to a Xcode version and it contains a lot of unnecessary information. I always had to worry about conflicts and unintended diffs. Also it was complicated for me to manage a library if it has dependencies to other libraries. For example, RxKeyboard has dependencies to RxSwift and RxCocoa. With a traditional way(with `xcodeproj`), I had to use only Car

[2017-11-02 16:04] daidongon commented on #45
I think that your selfish thinking is not good for this community.

That is exactly right. SPM is still very minority.

[2017-11-02 16:11] devxoul commented on #45
@daidongon, Could you please explain me why that thinking is selfish? I am also a member of the community. I didn't harm anyone, and I was just doing my best to contribute to the community.

[2017-11-02 16:55] daidongon commented on #45
Carthage and CocoaPods are the major package managers in the iOS community, while SPM is very minor and completely does not support iOS projects. Your idea of ​​adopting only such an incomplete method is selfish and it will not be the best way in this community.

[2017-11-02 17:01] devxoul commented on #45
@daidongon, A prebuilt binary is [an official way](https://github.com/Carthage/Carthage/blob/0.26.2/README.md#archive-prebuilt-frameworks-into-one-zip-file) to support Carthage.

[2017-11-02 17:06] daidongon commented on #45
By not publishing the xcodeproj file, every time the version of Xcode goes up, build error problems continue to occur, every time people other than you are in trouble. This issue is one of them.

[2017-11-02 17:14] freak4pc commented on #45
@RxSwiftCommunity/contributors Any of the core contributors want to give their opinion to this discussion as well?

[2017-11-02 17:15] devxoul commented on #45
@daidongon Hmm, isn't that an issue of Carthage? I think https://github.com/Carthage/Carthage/issues/2219 is a better place to discuss about that.

[2017-11-02 17:20] daidongon commented on #45
@devxoul  I think you should face it.

[2017-11-02 17:30] devxoul commented on #45
@daidongon Why should I? I added a prebuilt binary support even I don't use Carthage. I thought that I had a responsibility to do that at least. Open sourcing is not my primary job. I'm not a charity nor your employee :(

[2017-11-02 17:36] muukii commented on #45
If we can found how to create `.xcodeproj` on build time. This problem will be solved.

[2017-11-02 17:42] devxoul commented on #45
@muukii Yeah, actually I had a same idea and tried to add a SPM integration on Carthage (https://github.com/Carthage/Carthage/pull/1945) but I faced some problems. I hope someone could develop this idea.

[2017-11-02 17:45] groue commented on #45
Fun is surely part of the game. Fun of a library's owner, and also fun for the library users.

Library users have no fun when a library doesn't make its requirements clear. Nobody likes working with an optimistic spirit, only to eventually discover that the whole task was bound to fail.

I thus think that it's good that a repo owner spends a little fun **documenting** the supported installation me

[2017-11-02 17:59] devxoul commented on #45
@groue, thanks for suggestion. I added a quick guide about a contributing and a Carthage installation. (https://github.com/RxSwiftCommunity/RxKeyboard/commit/2b480d1248ea485b23ba212e1803d96c8d236597)

[2017-11-02 18:15] groue commented on #45
I don't know if it is possible to automatically generate an Xcode project with a few shared schemes from an SPM package. But assuming it is possible, then one could help by supporting two Makefile targets:

[code]

The Makefile could look like below:

[code]

[2017-11-02 18:21] devxoul commented on #45
Actually Carthage uses `xcodebuild` and I don't use `swift test` to test RxKeyboard so we may not need both of them. We can just do as I does in:

* Then: https://github.com/devxoul/Then/blob/2.2.1/.travis.yml#L22-L34
* URLNavigator: https://github.com/devxoul/URLNavigator/blob/2.0.0/.travis.yml#L20-L32
* ReactorKit: https://github.com/ReactorKit/ReactorKit/blob/1.0.0/.travis.yml#L22-L34

[2017-11-02 18:26] groue commented on #45
If the `swift package generate-xcodeproj` generates a project that is part of the release, then it looks like yes, we'd get top-notch Carthage support, and you'd still be able to keep on focusing on SPM 👍

[2017-11-02 18:35] groue commented on #45
Yes, it does, but with subtle differences that go well beyond my Xcode skills. The net effect of those differences is that an `xcodebuild` success is not a guarantee that `carthage build` will work as well. I've spent enough hours trying to understand spurious and non-reproducible Carthage errors with [GRDB](https://github.com/groue/GRDB.swift#carthage) to know that 1st hand, unfortunately. A good

[2017-11-02 18:49] devxoul commented on #45
That makes sense. By the way I have to write tests for RxKeyboard first. It depends on a lot of singleton instances and UI stuffs. I should start from decoupling dependencies. Hmm, it'll be fun.

[2017-11-02 18:57] groue commented on #45
One step after the other, isn't it?

Meanwhile, unless I'm mistaken, Xcode 9.1 users should use [0.7.1](https://github.com/RxSwiftCommunity/RxKeyboard/releases/tag/0.7.1), and Xcode 9 users should use [0.7.0](https://github.com/RxSwiftCommunity/RxKeyboard/releases/tag/0.7.0).

[2017-11-02 19:02] DevAndArtist opened #46 "Suggestion for the next version."
I don't use the framework, but I just happened to look over the code to learn about the interactive behaviour. I also tested the example application and quickly noticed a major issue.

Please check the events your keyboard wrapper is emitting on device rotations. For instance I edited the code to check if my assumption was right or wrong, because I bumped into similar problems  when observing the

[2017-11-02 19:18] devxoul commented on #45
@groue, I couldn't understand what you mean. 🤔

[2017-11-02 20:02] groue commented on #45
Sorry, let me try again. It's OK if you improve RxKeyboard at your own pace, even if the library is pretty popular, and has rightfully demanding users. And since it looks like Carthage is available for both Xcode 9.0 and Xcode 9.1, I guess this issue is closed for good. Future improvements will come from you or from pull requests.

[2017-11-02 23:04] icanzilb commented on #45
I don't want to spam this thread but I've been following it and @groue regarding "and has rightfully demanding users" I'd like to mention that RxKeyboard comes under the MIT license which states "THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT." t

[2017-11-03 07:04] freak4pc commented on #45
@icanzilb I agree - as an individual, but since this is a community project and not in a personal repo, IMO it needs to work well for Community members who uses the two most popular Depepndency Manager.

With that - @devxoul is the author and maintainer of this library and in my opinion has some reasonable alternatives for Carthage users (pre built binaries), so I think this is sort of the equal g

[2017-11-06 12:39] devxoul commented on #46
@DevAndArtist thanks for reporting! I'll check this for the next release :+1:

[2017-11-19 17:11] bsarrazin opened #47 "Would it be possible to support Carthage Binary?"
So I've been digging around a bit around the issues raised in #45, see https://github.com/Carthage/Carthage/issues/2245
Carthage as a binary-only support (documented [here](https://github.com/Carthage/Carthage/blob/master/Documentation/Artifacts.md#binary-only-frameworks)).

This means that users of RxKeyboard could simply add the following in their `Cartfile`:
[code]

Above is the proper, documen

[2017-11-19 17:27] bsarrazin commented on #47
Created pull request above ^^
Tested and working.

[2017-11-20 08:09] devxoul commented on #47
Thanks! I merged #48 :)

[2017-11-20 08:09] #47 closed

[2017-11-26 12:48] gilgol opened #49 "Make RxKeyboard conform to RxKeyboarding protocol"
I was wondering how can I test the logic of the entity that will use `RxKeyboard` (as it is a singleton), and thought this could be a great addition to `RxKeyboard`.

Having it conform to such protocol, will make mocking very easy, and one could just inject `RxKeyboard.instance` as a dependancy or the mock for the tests instead of just using the global instance:

[code]

[2017-11-29 05:11] devxoul commented on #49
Yeah I think this is a great idea. #50 is a PR for this issue.

[2017-12-07 23:36] bsarrazin opened #51 "Please add binary support for Xcode 9.2"
The current release only supports Xcode 9.1
Please create a new release with Xcode 9.2 (swift 4.0.3) support.

[2017-12-08 07:10] #49 closed

[2017-12-08 07:15] devxoul commented on #51
@bsarrazin, thanks for reporting! I just created [0.8.0 release](https://github.com/RxSwiftCommunity/RxKeyboard/releases/tag/0.8.0) and the prebuilt binary will be uploaded soon.

[2017-12-08 10:11] devxoul commented on #51
Done!

[2017-12-08 12:35] bsarrazin commented on #51
@devxoul please update the json file to point to the new binary.

[2017-12-08 15:03] devxoul commented on #51
@bsarrazin, Done! I'll keep that in my mind :)

[2017-12-11 13:26] bsarrazin commented on #51
Thank you @devxoul

[2017-12-11 13:26] #51 closed

[2017-12-31 15:17] akolov opened #53 "Carthage binary for 0.8.1 is missing"
https://github.com/RxSwiftCommunity/RxKeyboard/releases/download/0.8.1/RxKeyboard.framework.zip leads to "Page not found"

[2017-12-31 15:30] freak4pc commented on #53
@devxoul seems like the latest build doesn't have the RxKeyboard.framework.zip file attached:

<img width="939" alt="ca693bbc-b76b-4eee-b5c1-361a3ee9ed71" src="https://user-images.githubusercontent.com/605076/34462613-4eb2c610-ee50-11e7-9a60-0a013ed8930b.png">

[2017-12-31 16:57] freak4pc commented on #53
@akolov I've built and added the missing Prebuilt Binary. Should work fine now, closing this :)

[2017-12-31 16:57] #53 closed

[2018-01-08 20:20] nanoxd opened #54 "Publish 0.8.1 to CocoaPods"
👋🏽,

I'm attempting to use the library and found that the last published version was 0.7.1. Any chance you could publish the latest version to CocoaPods?

Thanks!

![](https://media3.giphy.com/media/26AHqztlb4CzG3WTu/giphy.gif?cid=348844935a53d267334c324c498fdf2e)

[2018-01-08 21:16] devxoul commented on #54
Done! I have no idea why I forgot to upload it 🙀

[2018-01-08 21:27] nanoxd commented on #54
Thanks!

[2018-01-08 21:27] #54 closed

[2018-03-16 19:10] igorkulman opened #58 "Not working anymore?"
I tried integrating RxKeyboard to my project, but it did not work. So I downloaded you Example project, and it does not work either. When the `MessageListViewController` gets created the `RxKeyboard.instance.visibleHeight` is invoked with `0` and that is it, no other invocation when I focus the input and the keyboard comes up:

![mar-16-2018 20-07-36](https://user-images.githubusercontent.com/4746

[2018-03-17 06:12] devxoul commented on #58
It seems that #57 breaks the behavior. I've created #59 to fix it. I'd be glad if you could review it :)

[2018-03-17 17:31] igorkulman commented on #58
I can confirm, works with #59

[2018-03-17 18:19] #58 closed

[2018-03-17 18:20] devxoul commented on #58
@igorkulman, do you want me to make a new release? #57 was not released so 0.8.1 might work without #59.

[2018-03-29 13:33] Aurazion opened #60 "Compatibility with Swift 4.1"
Hi,
I'm using Xcode 9.3 beta 4 with Swift 4.1 and carthage for my dependencies.

Please can you provide a binary compiled with the latest version of Xcode 9.3 for carthage ?

Thanks

[2018-03-29 13:34] freak4pc commented on #60
Hey @Aurazion - Most libraries usually don't provide compatibility until a GM is released, since it creates too much work for the authors to follow beta releases.

Once the GM is released, all libraries in RxSwiftCommunity usually align accordingly.

Thanks for posting the issue !

[2018-03-29 13:35] Aurazion commented on #60
Ok I understand, thanks for the very fast answer !

[2018-03-29 13:35] #60 closed

[2018-03-30 10:11] noppefoxwolf opened #61 "Swift4.1 support"

[2018-03-30 10:53] noppefoxwolf commented on #61
I builded latest commit.

swift 4.1 (902.0.48)
https://github.com/noppefoxwolf/RxKeyboard/releases

[2018-04-03 08:28] Aurazion commented on #60
Hello @freak4pc
Is it possible to update for Swift 4.1 ? Xcode 9.3 is now released.

Thanks !

[2018-04-03 08:29] freak4pc commented on #60
Hey @Aurazion :) If you'd like to push out a PR I'd love to review it. Otherwise It'll have to wait for someone from the community to have time to do it which should be rather soon IMO :)

[2018-04-03 08:29] Aurazion commented on #61
Thanks for the fork.
I hope the developer release his own build.

[2018-04-03 08:30] freak4pc commented on #61
@noppefoxwolf Pushing your changes as a PR would be much more beneficial than building a separate fork :)

[2018-04-03 08:31] Aurazion commented on #60
Yes I'll find a solution, thanks !

[2018-04-03 08:31] freak4pc commented on #60
@Aurazion - You can use the fix from the second issue you commented on, if you'd like.

[2018-04-03 09:32] freak4pc commented on #61
Oh I understand what you're saying :) OK.

[2018-04-10 23:01] mendesbarreto commented on #61
Hey @freak4pc, what do you think of my PR, worth it?

[2018-04-11 10:05] freak4pc commented on #61
Hey @mendesbarreto - No need to ping individual contributors :) When one of the contributors have time they usually review PRs. Also, since this is sort of @devxoul's library, I prefer him to review #62 .

[2018-04-16 04:31] freak4pc commented on #61
Fixed in #62

[2018-04-16 04:31] #61 closed

[2018-05-14 05:30] #33 closed

[2018-05-30 08:48] noppefoxwolf opened #66 "Swift4.1.2 support"
[code]

[2018-05-30 08:51] freak4pc commented on #66
This is the main issue with no ABI stability and the fact this specific repo uses ZIP Archives for releases. It means every major, minor and patch bump should get a new build. So I think we'll need to release 0.8.4 for this bump, probably.

@devxoul is probably flying to WWDC so I imagine he won't have time to do this soon, but you may make a new binary build and a PR if you want for the time bein

[2018-05-30 15:46] bobgodwinx commented on #66
@noppefoxwolf Waiting for the official release of [RxSwift. Here is the blocker](https://github.com/ReactiveX/RxSwift/issues/1555) I have a PR with `Carthage` version of `RxSwift` but just wait a bit and it would be fixed.

[2018-06-10 22:18] devxoul commented on #66
I released [0.8.3](https://github.com/RxSwiftCommunity/RxKeyboard/releases/tag/0.8.3) which support Swift 4.1.2 (swiftlang-902.0.54 clang-902.0.39.2).

[2018-08-06 15:39] Axadiw opened #68 "Swift 4.2 support"
RxKeybaord doesn't compile on newest Xcode 10 beta

Incompatible Swift version - framework was built with 4.1.2 (swiftlang-902.0.54 clang-902.0.39.2) and the local version is 4.2 (swiftlang-1000.0.32.1 clang-1000.10.39).

[2018-08-06 15:40] freak4pc commented on #68
Well, that makes sense given Xcode 10 is still in beta :)
I imagine @devxoul will release a new binary when GM is out.

[2018-08-09 10:48] wanbok commented on #68
I try to resolve it at #69

[2018-09-07 10:44] noppefoxwolf opened #71 "[Proposal] Abolition of provision of binary"
Providing binary will certainly speed up the installation.
However, we need to wait for binary to be provided each time.

https://github.com/RxSwiftCommunity/RxKeyboard/issues/68
https://github.com/RxSwiftCommunity/RxKeyboard/issues/66

When Swift 5 is released, ABI solves this problem.
Until then, I think that it is better not to provide the binary but to build it on each machine.

like this PR
h

[2018-09-18 23:47] RafaelPlantard commented on #68
Any news?

[2018-09-19 08:02] freak4pc commented on #68
@RafaelPlantard Are you using CocoaPods? If so, can you try pointing directly to the master branch? Seems like #69 was merged to fix these issues.

[2018-09-19 19:01] RafaelPlantard commented on #68
I'm using Carthage, just for while I create a fork of it, and release a new .zip to get from Carthage

[2018-09-21 16:10] freak4pc commented on #71
I think the value of using a binary is too great to entirely get rid of.
In essence, if the binary is invalid, you will get a re-compilation anyways - so I'm not sure why bother with abolition, as you suggest.

Here's an example:
[code]

[2018-09-21 16:49] #66 closed

[2018-09-23 10:30] #68 closed

[2018-09-23 11:02] freak4pc commented on #68
Carthage release is up - CocoaPods gonna be up in probably a day or two (need to get some permission issue fixed).

[2018-09-23 22:10] freak4pc commented on #71
Closing for now. If you have additional questions, please let me know and I'll reopen.

[2018-09-23 22:10] #71 closed

[2018-09-23 22:11] #29 closed

[2018-09-23 22:11] #19 closed

[2018-09-23 22:11] #46 closed

[2018-09-26 02:59] lexrus opened #74 "Breaking Carthage build"
`Skipped building RxKeyboard due to the error:
Dependency "RxKeyboard" has no shared framework schemes for any of the platforms: iOS

If you believe this to be an error, please file an issue with the maintainers at https://github.com/RxSwiftCommunity/RxKeyboard/issues/new
`

[2018-09-26 03:30] gordoneliel opened #75 "Cathage Build Failed"
Building the framework throws the following error:
Incompatible Swift version - framework was built with 4.0.3 (swiftlang-900.0.74.1 clang-900.0.39.2) and the local version is 4.2 (swiftlang-1000.11.37.1 clang-1000.11.45.1).

Which is weird because the project is updated to Swift 4.2

[2018-09-26 08:53] lexrus commented on #74
[code]

Still getting error. I guess we have to use the precompiled framework?

[2018-09-26 13:48] mgaines33 commented on #75
It is still saying that it is built with swift 4.0.3.

[2018-09-26 14:12] freak4pc commented on #75
Did you do a carthage update ? Try removing your Carthage folder and re-bootstrap.

[2018-09-28 15:29] mgaines33 commented on #75
cart file.resolved is showing>
binary "https://raw.githubusercontent.com/RxSwiftCommunity/RxKeyboard/master/RxKeyboard.json" "0.9.0"

[2018-09-29 21:06] jerzykiler opened #76 "Xcode 10 build fail"
I am trying to build my project using Xcode 10 and swift 4.2 with `iOS Deployment Target` set to `iOS 10.0`.

I got RxKeyboard at version 0.9.0 using Carthage.

This is the error message I get at the
`import RxKeyboard` line when I try to build for simulator:

`Module file's minimum deployment target is ios12.0 v12.0: /Users/<my_username>/<my_folder>/<my_project>/Carthage/Build/iOS/RxKeyboard.fram

[2018-10-01 02:07] yurimingo commented on #75
@mgaines33
did you try this? -> <https://stackoverflow.com/questions/45504896/how-to-clear-carthage-cache>
your carthage may reference previous RxKeyboard-v0.9.0.
i've solved same issue in this way.

[2018-10-01 03:41] yurimingo opened #77 "Runtime error has occurred in binary downloaded using carthage."
I tried to run a application then I got a following error message.

  Referenced from: /Users/yuri/Library/Developer/CoreSimulator/Devices/~~~/Yuri.app/Frameworks/RxKeyboard.framework/RxKeyboard
  Reason: image not found

It seems RxKeyboard refers RxCocoaRuntime.

[2018-10-02 01:39] yueno12 commented on #76
+1

[2018-10-02 14:32] mgaines33 commented on #75
@yurimingo That worked for me.  Thankyou.

[2018-10-02 14:52] freak4pc commented on #75
Please see @yurimingo solution if you have a broken version in your Carthage cache.

[2018-10-02 14:52] #75 closed

[2018-10-02 16:12] mgaines33 commented on #76
+2

[2018-10-03 05:08] freak4pc commented on #77
It should refer to RxCocoa so that isn’t the issue. Can you try on a clean project ?

[2018-10-03 06:03] yurimingo commented on #77
I tried again but it doesn't work.

In my understanding, carthage doesn't have `RxCocoaRuntime.framework` because It's included in `RxCocoa.framework`.
This is a similar issue to "<https://github.com/ReactorKit/ReactorKit/issues/17#issuecomment-305109741>".

I think TravisCI is supposed to remove `RxCocoaRuntime.framework` because `.travis.yml` in this project says that. <https://github.com/RxSwif

[2018-10-03 13:16] vaderdan commented on #76
Is it possible this issue to be related to
https://github.com/RxSwiftCommunity/RxKeyboard/pull/73/files#diff-354f30a63fb0907d4ad57269548329e3R10

I think that this is the source of the issue because previous version was running with 11 ios support
how are you building the framework just lame question 😄

[2018-10-04 11:19] borg666 commented on #76
any workaround about this?

[2018-10-12 02:16] gustavopriebe commented on #76
I've set the minimum deployment target for iOS8.0 and created support for Carthage. Feel free to use the project at this link
https://github.com/gustavopriebe/RxKeyboard

or directly in Cartfile:

github "gustavopriebe/RxKeyboard" "master"

[2018-10-12 06:27] KangTaeHoon commented on #76
@gustavopriebe

Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/MyName/Desktop/MyProject/Carthage/Checkouts/RxKeyboard/RxKeyboard.xcodeproj -scheme RxKeyboard_iOS -configuration Release -derivedDataPath /Users/MyName/Library/Caches/org.carthage.CarthageKit/DerivedData/10.0_10A255/RxKeyboard/cf62c6d4c191ba680f31ce23c52641c88208136f -sdk iphoneos ONLY_ACTIVE_A

[2018-10-12 19:45] freak4pc commented on #76
@devxoul Can you help out here? I really don't know your SPM-based release process that well. Would appreciate your assistance and might also be good to document this for others. Thanks !

[2018-10-12 19:58] freak4pc commented on #76
@devxoul just released RxKeyboard 0.9.1. I tested on my own project with 8.0 deployment and the error is gone, so I'm closing this one. Please comment if you're still having issues!

[2018-10-12 19:58] #76 closed

[2018-10-12 19:58] freak4pc commented on #77
@yurimingo Could you please try RxKeyboard 0.9.1 that was just released?

[2018-10-15 04:58] yurimingo commented on #77
Thank you for the updates.
but i could not find 0.9.1 in https://raw.githubusercontent.com/RxSwiftCommunity/RxKeyboard/master/RxKeyboard.json .
so could you please update this file?

[2018-10-15 07:32] freak4pc commented on #77
Updated. Let me know if it looks better now.

[2018-10-15 08:41] yurimingo commented on #77
It works!
Thank you for your prompt reply!

[2018-10-15 08:41] #77 closed

[2018-11-08 04:47] kamranpirwani opened #78 "Xcode 10.1"
RxKeyboard does not compile on Xcode 10.1, as it used Swift 4.2.1. I don't mind fixing this issue manually, but unsure how to proceed. I'm currently using Carthage. Any thoughts?

[2018-12-13 13:14] fadizant opened #83 "Tap on tableview did not hide keyboard"
I try to hide keyboard by tap on tableview but it's not work !

any hint please .
Thanks

[2018-12-26 09:34] AlexisQapa opened #84 "Bug on iPhone X"
Hello,

On iPhone X, Xr, Xs in the example when you tap the search bar and the keyboard appear there is a gap between the bar and the keyboard. The reason is because it's constrained to the safe area in MessageListViewController (96) :
if #available(iOS 11.0, *) {
            make.bottom.equalTo(self.view.safeAreaLayoutGuide.snp.bottom).offset(-keyboardVisibleHeight)
          } else {

[2019-03-14 06:30] cfr commented on #84
Hey, not sure it is related: I'm also experience this bug on X with [google keyboard](https://stackoverflow.com/questions/39066206/ios-gboard-app-uikeyboard-notification-height-is-wrong-or-invalid). It is reporting wrong `visibleHeight` on new devices or OS, though It seems `RxKeyboard.instance.frame` is OK.

[2019-03-26 07:53] tomoki69386 opened #86 "has no shared framework schemes"
I am troubled with this

[code]

[2019-03-26 08:08] tomoki69386 commented on #86
Solved by setting Swift version to 4.2

[2019-03-26 08:08] #86 closed

[2019-04-02 09:09] SergeMaslyakov opened #89 "Couldn't fetch RxKeyboard as dependency thru Carthage (Swift 5)"
Hi guys!

I use Carthage. And when I try to fetch dependencies I get this error:
[code]
and then below
[code]

Could you release a new version with a binary compatibly with Swift5?
Right now I just added the sources directly in my project and everything works. But..

Thanks!

[2019-04-02 09:12] freak4pc commented on #89
This is ongoing. See #88.

[2019-05-28 09:10] y8k opened #91 "Can't install 1.0.0 via Cocoapods"
Can't install 1.0.0 via Cocoapods..
When can I install 1.0.0??

[2019-05-28 12:54] freak4pc commented on #91
Should be OK now.

[2019-05-28 12:54] #91 closed

[2019-05-29 00:05] y8k commented on #91
I’ll try again. thank you.

2019년 5월 28일 (화) 오후 9:55, Shai Mishali <notifications@github.com>님이 작성:

[2019-06-03 11:43] Alond opened #93 "Multi window app"
Is it correct use first window in multi window app?

`UIApplication.shared.windows.first?.addGestureRecognizer(self.panRecognizer)`

[2019-07-16 10:20] MortyMerr opened #94 "`scrollView.contentInset` is reverted back after changing it in visibleHeight callback"
A simple instance of UIScrollView with UITextField in contentView. I can attach a sample project if it's needed.

[code]

After assigning zero (keyboard hides) it reverts back to previous value. Output:
[code]

Maybe, it's not `RxKeyboard` problem, however implementing it with raw `NotificationCenter` resolves the issue.
Changing `RxKeyboard`subscription code to async (code smell) also resolves th

[2019-07-16 10:32] pauloec commented on #84
Having the same issue. Not sure if someone tested with iPhone X models. safeAreaInsets are not taken into account and when using visibleHeight it is 0 because it hasn't been drawn yet.

[2019-09-10 01:38] yojkim commented on #84
Same issue on me.
Third-party keyboards return wrong `visibleHeight` value 🤔

[2019-10-20 13:38] ry-itto opened #95 "iOS13 Build Failed"
At RxKeyboard.swift, following error occured in line 118 and 138.
[code]

[2019-10-30 01:08] jasudev opened #97 "Issues on iPad"
Problems on the iPad, also affecting the RxKeyboard observer applied to other views when calling the keyboard from pageSheet. Is there a way to solve this problem?

[2019-11-14 23:39] jasudev opened #99 "Reasons to negatively affect keyboard disappearing animation"
When you run the sample project, hiding the keyboard exposes the message below. It also has a negative impact on keyboard disappearing animations. Can you see why?

2019-11-15 08:36:18.949460+0900 RxKeyboardRxKeyboardExample[11852:3243216] -[UIWindow endDisablingInterfaceAutorotationAnimated:] called on <UITextEffectsWindow: 0x10a80b400; frame = (0 0; 375 812); opaque = NO; autoresize = W+H; layer

[2020-01-22 04:19] brunomunizaf commented on #19
Can we re-open this? I'm about to implement the same.

[2020-03-17 14:51] kikisasha commented on #89
The issue still happening.

Did anyone manage to pass this related error ?
Dependency "RxKeyboard" has no shared framework schemes

If you believe this to be an error, please file an issue with the maintainers at https://github.com/RxSwiftCommunity/RxKeyboard/issues/new

[2020-03-17 14:52] kikisasha commented on #89
Hey @SergeMaslyakov

Do you happen to have an alternative library to fix this issue for temporary use to wait for the fix release?

[2020-03-17 15:14] SergeMaslyakov commented on #89
Hey @kikisasha

I have forked repo and have addded fix for Carthage.
You could use it if you need.

- repo
[https://github.com/BlackBrickOrg/RxKeyboard](https://github.com/BlackBrickOrg/RxKeyboard)

- Cartfile
`github "BlackBrickOrg/RxKeyboard" "0.9.5"`

[2020-03-18 03:01] kikisasha commented on #89
@SergeMaslyakov thanks for the help,

But the repo you gave me seems to be supporting above iOS 10.0
Am I correct?
Is it possible to make a branch that support minimum iOS 9.0 though?

[2020-03-18 08:03] SergeMaslyakov commented on #89
@kikisasha Yes, it is. I have changed it for my purposes. You just can revert it in xcode proj settings.

[2020-03-18 08:15] kikisasha commented on #89
@SergeMaslyakov I did download the repo but some how error pops up saying "No such module "RxRelay"

Any suggestions?

[2020-03-18 08:28] SergeMaslyakov commented on #89
@kikisasha

1) Check `RxSwift` version which you have installed (in `Cartfile.resolved`). It should be >= 5.0.1.
2) Make sure that you added all built Rx-related frameworks in carthage copy phase in your project
<img width="1051" alt="Screenshot 2020-03-18 at 11 27 31" src="https://user-images.githubusercontent.com/29630110/76940516-78c5b100-690b-11ea-85c5-9e01abe7c9cf.png">

[2020-03-19 04:39] ikesyo commented on #78
Fixed by #81.

[2020-03-19 04:39] #78 closed

[2020-04-18 15:25] jinuman commented on #84
Same issue on me as well.

I am wondering where this constraint is hanging. @shingo-nakanishi Could you answer me?

[2020-04-18 18:11] jstngoulet opened #100 "Deprecated API Usage in RxCocoa"
RxCocoa should should be updated to 5.1 as UIWebview is being deprecated by apple.

[2020-05-14 09:40] jdisho commented on #100
Hey @jstngoulet, `RxKeyboard` is supporting `RxSwift` 5.0 and above. Try running `pod update`.
https://github.com/RxSwiftCommunity/RxKeyboard/blob/5398ec417e2ad938c5f5db702b0b13df0c3702d4/RxKeyboard.podspec#L15

[2020-05-14 09:40] #100 closed

[2020-08-01 17:56] SemyonovE commented on #95
Set **Require Only App-Extension-Safe API** to **No** for **RxKeyboard** target at **Pods** project helped me. In **Build Setting** section.

[2020-10-20 11:47] PiotrMaleszczuk opened #101 "RxKeyboard, Swift 5.3 - Carthage"
Incompatible Swift version - framework was built with 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5) and the local version is 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1).

[2021-01-16 14:41] lm2343635 opened #103 "Could you please update CocoaPods version"
@devxoul
Could you please update CocoaPods version for the latest RxSwift 6.0 support?

[2021-01-17 14:46] jdisho commented on #103
Updated!

[2021-01-17 14:46] #103 closed

[2021-01-17 14:47] jdisho commented on #101
Please update to RxKeyboard 2.0 and let me know if this issue is still relevant to you.

[2021-01-19 13:26] humdrum opened #104 "[Carthage] Can't find RxCocoaRountime.framework when launching the app"
Hi guys!

I use Carthage. Building was done without any error. but When I try to launch app. I get this error:

[code]

There is no "RxCocoaRuntime.framework" but "RxCocoa.framework" is in the Carthage/Build/iOS folder

This is part of Cartfile
[code]

Am I missing something?

Thanks!

[2021-01-21 03:40] thecsy opened #105 "not update visible height, just start & end Height update"
interactive dismiss event is not continuous update keyboard height.
just one height Update, in start & end point.

i used storyboard & autolayout.
i need continuous visible Keyboard height. how to use ?

![스크린샷 2021-01-21 오후 12 26 45](https://user-images.githubusercontent.com/5547276/105276934-c410b600-5be5-11eb-87ac-3c3b3a80f158.png)

![Simulator Screen Shot - iPhone 8 Plus - 2021-01-21 at 12 24

[2021-04-25 19:11] CisKoKid15 opened #106 "Rxswift"

[2021-04-25 19:11] #106 closed

[2021-05-12 09:15] kyrie-siu commented on #105
I met the same issue and I finally fixed it.

In my case, I had add a new UIWindow in my app then the panGestureRecognizer from RxKeyboard didn't added to the correct window.

Here is my solution by editing source code to make sure I am getting the keyWindow:

[code]

If you don't want to modify the source code, call `RxKeyboard.instance` after setting a new window should solve the issue as well:

[2021-06-24 07:24] 15130886370 opened #108 "RxSwift has been upgraded to 6.0, should we also support it?"

[2021-09-02 02:41] yccheok opened #110 "Is it possible to kick start keyboard dismiss interactively operation (Like WhatsApp) before the drag down operation touching the keyboard?"
Currently, the keyboard only start kick start keyboard dismiss interactively operation when drag down operation touching keyboard edge.

![rx](https://user-images.githubusercontent.com/308276/131772650-621dbe83-07e4-4242-8103-5912b4133183.gif)

However, in WhatsApp app, the keyboard dismiss operation will kick start, when the drag operation touches the bottom bar edge, even before touching keyboar

[2021-12-28 12:30] Wh1rlw1nd opened #113 "Might be wrong keyboard height"
Hi, I am getting a bit strange (unusuable results) for this:

[code]

the output is:

Keyboard visible height 291.0
Keyboard visible height 335.0
Keyboard visible height 0.0
Keyboard visible height 335.0
Keyboard visible height 0.0
Keyboard visible height 335.0
Keyboard visible height 0.0
Keyboard visible height 335.0

The thing is the actual visible height of a keyboard (along with a toolbar) is

[2022-01-04 05:38] James-Geng commented on #84
I solved as follows.
`RxKeyboard.instance.visibleHeight
      .drive(onNext: { [weak self] keyboardVisibleHeight in
        guard let `self` = self, self.didSetupViewConstraints else { return }
        self.messageInputBar.snp.remakeConstraints { make in
            make.left.right.equalTo(0)
          if #available(iOS 11.0, *) {
              if keyboardVisibleHeight == 0 {
                  mak

[2022-06-06 17:55] VitaliiDeveloper opened #116 "Wrong behavior with InputAccessoryView"
Looks like RxKeyboard has the wrong behavior when we have inputAccessory view. Because `willShowVisibleHeight` will not trigger on the keyboard because once it was triggered only on inputAccessory view. Same to `isHidden`